In [1]:
#sqlzoo로 문제 풀면서 이해하는 중 (4.17~)

https://sqlzoo.net/wiki/SELECT_basics 의 자료를 만든 코드

In [2]:
import pymysql
from sqlalchemy import create_engine, text
import seaborn as sns
import pandas as pd
conn = create_engine("mysql+pymysql://root:0000@localhost:3306/donga")

In [3]:
gapminder = pd.read_csv("https://raw.githubusercontent.com/OHI-Science/data-science-training/master/data/gapminder.csv")

In [4]:
gapminder.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [5]:
data = gapminder.to_dict('records')

In [20]:
## 필요하면 쓰기 

## table 삭제
# stmt = "drop table world"
# conn.execute(stmt)

In [9]:
gapminder.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [10]:
create_stmt = """
create table world(
country varchar(100),
year varchar(10),
pop varchar(20),
continent varchar(30),
life_exp varchar(30),
gdp_per_cap varchar(30),
gdp varchar(30)
)
"""
conn.execute(text(create_stmt))

In [11]:
stmt = "select * from world"
pd.read_sql(stmt,conn)

Empty DataFrame
Columns: [country, year, pop, continent, life_exp, gdp_per_cap, gdp]
Index: []

In [12]:
data = gapminder.to_dict('records')

In [13]:
stmt = """
insert into world(
country,
year,
pop,
continent,
life_exp,
gdp_per_cap
) values(
:country,
:year,
:pop,
:continent,
:lifeExp,
:gdpPercap
)
"""

In [14]:
for row in data:
    conn.execute(text(stmt),**row)

In [15]:
pd.read_sql("select * from world limit 5",conn)

       country  year       pop continent life_exp  gdp_per_cap   gdp
0  Afghanistan  1952   8425333      Asia   28.801  779.4453145  None
1  Afghanistan  1957   9240934      Asia   30.332  820.8530296  None
2  Afghanistan  1962  10267083      Asia   31.997    853.10071  None
3  Afghanistan  1967  11537966      Asia    34.02  836.1971382  None
4  Afghanistan  1972  13079460      Asia   36.088  739.9811058  None

In [16]:
stmt = """
update world set gdp = pop*gdp_per_cap
"""

In [17]:
conn.execute(text(stmt))

In [18]:
pd.read_sql("select * from world ",conn)

,country,year,pop,continent,life_exp,gdp_per_cap,gdp
0,Afghanistan,1952,8425333,Asia,28.801,779.4453145,6567086329.952229
1,Afghanistan,1957,9240934,Asia,30.332,820.8530296,7585448670.233646
2,Afghanistan,1962,10267083,Asia,31.997,853.10071,8758855796.92893
3,Afghanistan,1967,11537966,Asia,34.02,836.1971382,9648014149.848902
4,Afghanistan,1972,13079460,Asia,36.088,739.9811058,9678553274.066868
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,Africa,62.351,706.1573059,6508240904.928266
1700,Zimbabwe,1992,10704340,Africa,60.377,693.4207856,7422611852.129504
1701,Zimbabwe,1997,11404948,Africa,46.809,792.4499603,9037850589.823565
1702,Zimbabwe,2002,11926563,Africa,39.989,672.0386227,8015110972.06478
1703,Zimbabwe,2007,12311143,Africa,43.487,469.7092981,5782658337.338729

In [19]:
df = pd.read_sql("select * from world ",conn)

In [40]:
print(df['pop'].dtypes)

# 데이터 타입이 object로 나오면, 데이터베이스에서 pop 컬럼의 데이터 타입이 문자열로 지정되어 있는 것

object

### sql 공부 (4.18)

  	SELECT b.continent, b.country,b.pop AS pop
	FROM world b, (
    	SELECT continent, MAX(pop) AS pop
    	FROM world
    	GROUP BY continent
	) a
	WHERE b.continent = a.continent 
	AND b.pop = a.pop;

내가 궁금했던 것 => 왜 1700개 데이터안에 중국, 미국등 누가봐도 인구수가 많은 나라가 있는데 max(pop)했는데 누가봐도 인구가 적은 나라인가

해결 => 지금 1700개의 데이터에 있는 pop은 숫자형으로 보이지만 dtype을 해보면 object로 숫자인척하는 문자열이다
          따라서 max(pop)을 할 경우 인구수가 가장 많은 나라가 나오는게 아니다.
          문자열로된 숫자 데이터에 max를 할경우 앞자리부터 대소를 비교하기 때문에 13억보다 9999999가 커서 
          max를 하면 9999999가 나온다. 

   원래 의도대로 인구수가 가장 많은 나라를 구하고 싶으면

  	SELECT b.continent, b.country, CAST(b.pop AS UNSIGNED) AS pop
	FROM world b, (
    	SELECT continent, MAX(CAST(pop AS UNSIGNED)) AS pop
    	FROM world
    	GROUP BY continent
	) a
	WHERE b.continent = a.continent 
	AND b.pop = a.pop;

이런식으로 CAST()를 통해 문자열을 숫자열로 바꿔주면 된다. CAST(구하고 싶은것 , AS UNSIGNED)면 숫자형으로 바뀐다.

-------------------------------------------------------------------------------------------------------------